<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.datasourceExchange.dao.UserDao" >

    <resultMap id="UserMap" type="com.datasourceExchange.pojo.User">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="classes_id" property="classesId"/>
    </resultMap>

    <select id="selectUserFromDB1" resultMap="UserMap">
        select id,name from student
    </select>

    <!--<select id="selectUserFromDB1" resultType="com.datasourceExchange.pojo.User">-->
        <!--select id,name from student-->
    <!--</select>-->

    <select id="selectUserFromDB2" resultMap="UserMap">
        select id,name from stu
    </select>

    <insert id="insertUser" parameterType="com.datasourceExchange.pojo.User">
        insert into student(id,name) values(#{id},#{name})
    </insert>


</mapper>